#  This file is part of shadowsocks-libev.
#
#  Shadowsocks-libev is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 3 of the License, or
#  (at your option) any later version.
#
#  This file is default for Debian packaging. See also
#  /etc/default/shadowsocks-libev for environment variables.

[Unit]
Description=Obfs-Server-443
Documentation=man:obfs-server(1)
After=network.target

[Service]
Type=simple
#User=nobody
#Group=nogroup
LimitNOFILE=32768
# 8964 is the port of your shadowsocks-libev-server
# 8443 is the port of Apache TLS
ExecStart=/usr/bin/obfs-server -s 0.0.0.0 -p 443 --obfs tls -r 127.0.0.1:8964 --failover 127.0.0.1:8443 -a nobody
Restart=always

[Install]
WantedBy=multi-user.target
